h1 {
  font-size: 28px;
  font-family: Monaco, Courier, monospace;
  color: rgb(99, 54, 110);
}
p {
  font-size: 17px;
  font-family: Monaco, Courier, monospace;
}

.button-link{
  font-weight: 700;
  color: white;
  font-family: Monaco, Courier, monospace;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 10px;
  background: rgb(230, 108, 169);
  box-shadow: 0 -3px rgb(230, 108, 169) inset;
  transition: 0.2s;
} 
.button-link:hover { 
  background: rgb(99, 54, 110);
  box-shadow: 0 -3px #301f4f inset; }
.button-link:active {
  background: rgb(99, 54, 110);
  box-shadow: 0 3px #301f4f inset;
}

form.Form {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  background: #D0E4F5;
  width: 20%;
  border-radius: 10px;
  padding: 10px 10px;
}
table.Table {
  font-family: "Courier New", Courier, monospace;
  background-color: #FFFFFF;
  border-collapse: collapse;
  text-align: left;
}

table.Table thead {
 background: #D0E4F5;
/*background: -moz-linear-gradient(top, #f8d9ff 0%, #f7d1ff 66%, #F6CCFF 100%);
#  background: -webkit-linear-gradient(top, #f8d9ff 0%, #f7d1ff 66%, #F6CCFF 100%);
  background: linear-gradient(to bottom, #f8d9ff 0%, #f7d1ff 66%, #F6CCFF 100%);
  border-bottom: 2px solid #444444;*/
}
table.Table td, table.Table th {
  border: 1px solid #000000;
  padding: 3px 2px;

}
table.Table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 1px solid #000000;
}
table.Table tbody td {
  font-size: 15px;
  color: #000000;
}

